:root {
  --font-primary: "Poppins", sans-serif;
  --color-primary: white;
  --color-secondary: #ffffff66;
  --color-background: rgba(0, 0, 0, 0.9);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--color-background);
}

.quote {
  padding: 0 9.375rem 3.125rem;
  font-size: 3rem;
  color: var(--color-primary);
}

.author {
  font-size: 2rem;
  color: var(--color-secondary);
}

.quote,
.author {
  opacity: 1;
  transition: opacity 1s;
}

.quote.fade-out,
.author.fade-out {
  opacity: 0;
}
