@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
}

.quote {
    padding: 0 150px 50px 150px;
    font-size: 3rem;
    color: white;
}

.author {
    font-size: 2rem;
    color: #ffffff66;
}